body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

p {
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  font-size: 16px;
  margin-right: 15px;
}

button {
  background-color: #e07006;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.generateRandom-wrapper {
  width: 80%;
}

.weapon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(255, 163, 57);
  /* background-color: red; */
}

.armor-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(255, 163, 57);
  /* background-color: rgb(40, 59, 78); */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 30px;
}

ul {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.perks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(88, 65, 83); */
}

li {
  margin: auto;
  padding: 0;
}

.cost-counter {
  margin-bottom: 2em;
}

.element-wrapper {
  border: 2px solid rgb(255, 163, 57);
}
